@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,500&family=EB+Garamond:ital@1&family=Poppins:wght@500&family=Roboto+Condensed:wght@700&family=Young+Serif&display=swap');

#text1{
  font-family: 'Roboto Condensed', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  CSS for Add Voice Reading Capability */
.AudioReadbtn
{
  margin-right: 10px;
}
.AudioReadbtn :active
{
  transform: scale(.9);
}

.select-voice
{
  width: 50px;
  /* background-color: orange; */
  border-radius: 10px;
}